In [1]:
import numpy as np
import pandas as pd

In [2]:
# here read the csv file data and store it in data variable
data = pd.read_csv('emails.csv')
# print dataset
data

,Email No.,the,to,ect,and,for,of,a,you,hou,...,connevey,jay,valued,lay,infrastructure,military,allowing,ff,dry,Prediction
0,Email 1,0,0,1,0,0,0,2,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Email 2,8,13,24,6,6,2,102,1,27,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,Email 3,0,0,1,0,0,0,8,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Email 4,0,5,22,0,5,1,51,2,10,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Email 5,7,6,17,1,5,2,57,0,9,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
166,Email 167,0,1,1,0,0,0,6,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
167,Email 168,2,2,2,1,5,1,24,2,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
168,Email 169,10,9,3,2,3,3,38,3,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
169,Email 170,1,0,1,0,0,1,23,0,0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
170,Email 171,21,23,1,11,11,3,127,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
# print dataset column name only
data.columns

Index(['Email No.', 'the', 'to', 'ect', 'and', 'for', 'of', 'a', 'you', 'hou',
       ...
       'connevey', 'jay', 'valued', 'lay', 'infrastructure', 'military',
       'allowing', 'ff', 'dry', 'Prediction'],
      dtype='object', length=3002)

In [4]:
# dataset information
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 171 entries, 0 to 170
Columns: 3002 entries, Email No. to Prediction
dtypes: float64(2382), int64(619), object(1)
memory usage: 3.9+ MB

In [5]:
# check is null value in dataset
data.isnull()

,Email No.,the,to,ect,and,for,of,a,you,hou,...,connevey,jay,valued,lay,infrastructure,military,allowing,ff,dry,Prediction
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
166,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
167,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
168,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
169,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
170,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True

In [17]:
# null value in columns
data.isnull().sum()

the           0
to            0
ect           0
and           0
for           0
             ..
military      1
allowing      1
ff            1
dry           1
Prediction    1
Length: 3001, dtype: int64

In [18]:
# 0(zero) or False means not null value
# 1(one) or True means having null value in dataset
# print few top row of dataset
data.head()

,the,to,ect,and,for,of,a,you,hou,in,...,connevey,jay,valued,lay,infrastructure,military,allowing,ff,dry,Prediction
0,0,0,1,0,0,0,2,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,8,13,24,6,6,2,102,1,27,18,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,0,0,1,0,0,0,8,0,0,4,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0,5,22,0,5,1,51,2,10,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,7,6,17,1,5,2,57,0,9,3,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [19]:
# same for bottom rows
data.tail()

,the,to,ect,and,for,of,a,you,hou,in,...,connevey,jay,valued,lay,infrastructure,military,allowing,ff,dry,Prediction
166,0,1,1,0,0,0,6,0,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
167,2,2,2,1,5,1,24,2,0,5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
168,10,9,3,2,3,3,38,3,0,19,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
169,1,0,1,0,0,1,23,0,0,4,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
170,21,23,1,11,11,3,127,0,1,19,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
# drop column if value is true
data.drop(columns = ['Email No.'], inplace = True)
data.tail()

KeyError: "['Email No.'] not found in axis"

In [23]:
 #check any null value in dataset
data.isnull().any().value_counts()

True     2382
False     619
Name: count, dtype: int64

In [24]:
# Separating Features and Labels

X = data.iloc[:, :data.shape[1] -1 ]
y = data.iloc[:, -1]
X.shape, y.shape

((171, 3000), (171,))

In [25]:
# Splitting into Train and Test Dataset

from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.15)

In [26]:
# Machine Learning Models
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC, LinearSVC
from sklearn.neural_network import MLPClassifier

In [27]:
from sklearn.neighbors import KNeighborsClassifier  #KNN
models = {"Logistic Regression": LogisticRegression(solver='lbfgs', max_iter = 2000),
         "Linear SVM": LinearSVC(max_iter = 3000),
          "Polynomial SVM": SVC(kernel = "poly", degree = 2),
          "RBF SVM": SVC(kernel = "rbf"),
          "Sigmoid SVM": SVC(kernel = "sigmoid"),
          "Multi-layer Perceptron Classification": MLPClassifier(hidden_layer_sizes = [20, 20]),
          "K-Nearest Neighbors": KNeighborsClassifier(n_neighbors = 20)
         }

In [30]:
# Predict Accuracy Score for Each Model
from sklearn.metrics import accuracy_score
for model_name, model in models.items():
    y_pred = model.fit(x_train, y_train).predict(x_test)
    print(f"Accuracy for {model_name} model is : {accuracy_score(y_test, y_pred)}")

Accuracy for Logistic Regression model is : 0.9615384615384616
Accuracy for Linear SVM model is : 0.9230769230769231
Accuracy for Polynomial SVM model is : 0.8846153846153846
Accuracy for RBF SVM model is : 0.8076923076923077
Accuracy for Sigmoid SVM model is : 0.8076923076923077
Accuracy for Multi-layer Perceptron Classification model is : 1.0
Accuracy for K-Nearest Neighbors model is : 0.8846153846153846

In [29]:
import pandas as pd

# Convert x_train and y_train to DataFrame if needed
x_train = pd.DataFrame(x_train)
x_test = pd.DataFrame(x_test)

# Drop rows with NaN values
x_train.dropna(inplace=True)
x_test.dropna(inplace=True)

# Adjust y_train and y_test accordingly
y_train = y_train[x_train.index]
y_test = y_test[x_test.index]

# Train and evaluate the models
for model_name, model in models.items():
    y_pred = model.fit(x_train, y_train).predict(x_test)
    print(f"Accuracy for {model_name} model is : {accuracy_score(y_test, y_pred)}")

Accuracy for Logistic Regression model is : 0.9615384615384616
Accuracy for Linear SVM model is : 0.9230769230769231
Accuracy for Polynomial SVM model is : 0.8846153846153846
Accuracy for RBF SVM model is : 0.8076923076923077
Accuracy for Sigmoid SVM model is : 0.8076923076923077
Accuracy for Multi-layer Perceptron Classification model is : 1.0
Accuracy for K-Nearest Neighbors model is : 0.8846153846153846